<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>Retry, RetryWhen, Scan and Delay</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 | Retry</strong>
      <!-- <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p> -->

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of person">
            <td>{{ item.id }}</td>
            <td>{{ item.name.firstname }} {{ item.name.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>
              {{ item.address.city }}, {{ item.address.street }},
              {{ item.address.zipcode }}
            </td>
            <td>{{ item.phone }}</td>
            <td>{{ item.username }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="fetchDetails()" type="button">
        <span
          *ngIf="fetching"
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ !fetching ? "Fetch Deatils" : "Fetching deatils..." }}
      </button>
      <p>
        Status :
        <strong
          [ngClass]="{
            'text-success': status == 'Data Fetched',
            'text-danger': status == 'Problem Fetching Data'
          }"
          >{{ status }}</strong
        ><span
          *ngIf="fetching"
          class="spinner-grow text-warning spinner-grow-sm"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </span>
      </p>
      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
    <div class="col-md-6">
      <strong>Ex - 02 | TakeLast(3)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p>
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer1" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Ex - 03 | TakeUntil(Condition)</strong>
      <!-- <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p> -->
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer2" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
</div>
