div.box {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem sans-serif;
  cursor: pointer;
  will-change: transform;
  margin: 30px;
  background-color: deeppink;
}

div.box::before,
div.box::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: deeppink;
  transition: all 250ms ease-in-out;
}

div.box::before {
  width: 2px;
  height: 100px;
  box-shadow: 193px 0 deeppink;
}

div.box::after {
  height: 2px;
  width: 100%;
  box-shadow: 0 98px deeppink;
}

div.box:hover::before {
  left: -10px;
  box-shadow: 214px 0 deeppink;
}

div.box:hover::after {
  top: -10px;
  box-shadow: 0 118px deeppink;
}
a.linkclss {
  color: #000;
  position: relative;
  text-decoration: none;
  padding: 5px;
}

a.linkclss::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

div.box:hover a.linkclss::before {
  transform: scaleX(1);
  transform-origin: left;
}
