<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>ShareReplay</h2>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="col-md-6" *ngFor="let product of products">
        <div class="card" style="width: 100%">
          <img src="{{ product.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p>{{ product.category }}</p>
            <p class="card-text">
              {{ product.description }}
            </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-3">ef</div>
      <div class="col-md-3">yyyyyyyb</div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products | async">
      <div class="card" style="width: 100%">
        <img src="{{ product.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p>{{ product.category }}</p>
          <p class="card-text">
            {{ product.description }}
          </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
