<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>SwitchMap</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex. - 01 | Map</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex. - 02 | Map + SwitchAll</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer1" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex. - 03 | switchMap</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer2" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <strong>Ex. - 04 | MergeMap</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer3" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex. - 05 | ConcatMap</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>

      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer4" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex. - 06 | switchMap</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Videos:</strong>['Tech','Comedy','News']
      </p>
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer5" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush">
          <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li> 
        </ul>
      </div>
    </div>
  </div> -->
</div>
