/* You can add global styles to this file, and also import other style files */
ul.error li.list-group-item {
  color: red;
  background-color: #ff000033;
  border-color: red;
}

ul.completed li.list-group-item {
  color: green;
  background-color: #0080003d;
  border-color: green;
}
// MObile notification Css
.notification {
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  padding: 0 5px;
}
.notification .item {
  overflow: hidden;
}
.notification .item:not(:first-child) {
  border-top: 1px solid #f5f5f5;
}
.notification .header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0 10px;
}
.notification .header .time {
  opacity: 0.3;
  font-size: 12px;
  font-weight: 500;
}
.notification .body {
  font-size: 13px;
  line-height: normal;
}
.notification .body .item-img {
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #989898;
}
