<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>Merge</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech channel(5)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Tech Videos List:</strong>1,2,3,4,5
      </p>

      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Channel(3)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Comedy Videos List:</strong>1,2,3
      </p>

      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Channel(4)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>News Videos List:</strong>1,2,3,4
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush">
          <!-- <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li>
          <li class="list-group-item">rgg</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
