<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul></ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="box">
        <a routerLink="fromEvent" class="linkclss">fromEvent</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="interval" class="linkclss">Interval</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="ofandfrom" class="linkclss">Of and from</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="toArray" class="linkclss">toArray</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="custom-observable" class="linkclss">CustomObservable</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="map" class="linkclss">Map</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="pluck" class="linkclss">Pluck</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="filter" class="linkclss">Filter</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="tap" class="linkclss">Tap</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="take" class="linkclss">Take</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="retry" class="linkclss">Retry</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="debouncetime" class="linkclss">DebounceTime</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="subject" class="linkclss">Subject</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="replay-subject" class="linkclss">Replay Subject</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="async-subject" class="linkclss">Async Subject</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="concat" class="linkclss">Concat</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="merge" class="linkclss">Merge</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="mergemap" class="linkclss">MergeMap</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="concatmap" class="linkclss">ConcatMap</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="concatmap2" class="linkclss">ConcatMap 2</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="switchmap" class="linkclss">SwitchMap</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="switchmap2" class="linkclss">SwitchMap 2</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="exhaustmap" class="linkclss">ExhaustMap</a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <a routerLink="sharereplay" class="linkclss">ShareReplay</a>
      </div>
    </div>
  </div>
</div>
