<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="justify-content-center align-item-center">
        <h4>Concat Map</h4>
        <p>Ex. 01 | Mobile Example</p>
        <p>Mobile Notification Example</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>10:24</s>
        <div class="notification" id="elContainer">
          <!-- <div class="item">
            <div class="header">
              <div class="app">
                <img
                  src="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"
                  width="20"
                />
                facebook
              </div>
              <div class="time">4 Second Ago.</div>
            </div>
            <div class="body">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175_960_720.jpg"
                width="80"
                class="item-img"
              />
              <strong>Alax Johnson</strong>
              <p>Commented on your Post: Awesome Post!!!! Thanks...</p>
            </div>
          </div>
          <div class="item">
            <div class="header">
              <div class="app">
                <img
                  src="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"
                  width="20"
                />
                facebook
              </div>
              <div class="time">4 Second Ago.</div>
            </div>
            <div class="body">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175_960_720.jpg"
                width="80"
                class="item-img"
              />
              <strong>Alax Johnson</strong>
              <p>Commented on your Post: Awesome Post!!!! Thanks...</p>
            </div>
          </div>
          <div class="item">
            <div class="header">
              <div class="app">
                <img
                  src="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"
                  width="20"
                />
                facebook
              </div>
              <div class="time">4 Second Ago.</div>
            </div>
            <div class="body">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175_960_720.jpg"
                width="80"
                class="item-img"
              />
              <strong>Alax Johnson</strong>
              <p>Commented on your Post: Awesome Post!!!! Thanks...</p>
            </div>
          </div> -->
        </div>
        <span>Left action button</span>
        <span>Right action button</span>
      </div>
    </div>
  </div>
</div>
