<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>Take, TakeLast And TakeUntil</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Take(4)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p>
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | TakeLast(3)</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p>
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer1" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | TakeUntil(Condition)</strong>
      <!-- <p class="border p-2 mt-2 rounded bg-light">
        <strong>Radom Name:</strong>'Dadabhau', 'Vedshree', 'Arayan', 'Atharv',
        'Parth'
      </p> -->
      <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer2" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
</div>
