<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>fromEvent</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button #addBtn class="btn btn-primary">Add Video</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-header">List</div>

        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-header">List</div>

        <ul id="elContainer1" class="list-group list-group-flush"></ul>
      </div>
    </div>
  </div>
</div>
