<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3">
      <h2>Pluck</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Pluck:</strong> by property
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <p>
        Message: <strong class="text-success">{{ msg1 }}</strong>
      </p> -->
      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Pluck:</strong> by nested property
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data2">
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <p>
        Message: <strong class="text-success">{{ msg2 }}</strong>
      </p> -->
      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <p class="border p-2 mt-2 rounded bg-light">
        <strong>Map:</strong> object data
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data2">
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="card" style="width: 100%">
        <div class="card-header">Response Data</div>
        <ul id="elContainer" class="list-group list-group-flush"></ul>
      </div> -->
    </div>
  </div>
</div>
